<!--страница отображения всех организаций (воинских частей)-->
{% extends 'base.html' %}

{# Использовать пользовательские теги #}
{% load phonebook_tags %}

{# Описываем тайтл #}
{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

<!--левый боковой навбар-->
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<!--запускаем пользовательский тег show_divisions, каторый данные загружает уже со страницы 'phonebook/list_divisions.html'-->
{# Шапка записи #}
<div class="col-sm-12 entr card " type="1" card-id="836">

    {# Шапка записи #}
    <div class="row">
                    <div class="col-sm-12">
                        <h2>
                            <span class="inline"
                                  data-id="name">Страница части  ({{ .units }})  </span>
                        </h2>
                    </div>
                </div>


{# Данные записи #}
<div id="dp-tab-18" class=" tab-pane active">
    <!--указываем тип таблицы   -->
    <table class="table table-striped">
        <!--создаем цикл перечисления в\ч, открываем строку, записываем всю информацию-->
                     <!--задаем цикл перечисления записей-->
            <!--шапка таблицы-->
            <tr>
        <!--в каждом столбце прописываем значения-->
        <!--первая ячейка является ссылкой на подробную запись по пользователю-->
        <td> Фамилия </td>
        <!--в каждом столбце прописываем значения имя-->
        <td> Имя </td>
        <!--в каждом столбце прописываем значения отчество-->
        <td> Отчество </td>
        <!--в каждом столбце прописываем должность-->
        <td> Должность </td>
        <!--в каждом столбце прописываем подразделение-->
        <td> Подразделение</td>
        <!--в каждом столбце прописываем значения внутр телефон-->
        <td> Внутренний </td>
        <!--в каждом столбце прописываем значения городской телефон-->
        <td> Городской </td>
        <!--в каждом столбце прописываем значения факс-->
        <td> Факс </td>
        <!--в каждом столбце прописываем значения мобильный-->
        <td> Мобильный </td>
        <!--в каждом столбце прописываем значения основное подразделение-->
        <td> Подразделение </td>
        <!--в каждом столбце прописываем значения в.ч.-->
        <td> в\ч </td>
    </tr>
            <!--содержимое таблицы-->

                <!--создаем цикл перечисления, открываем строку, записываем всю информацию-->
{% for item in phonebooks %}
    <!--открываем строку-->
    <tr>
        <!--в каждом столбце прописываем значения-->
        <td> <a href="{{item.get_absolute_url}}"> {{item.surname}} </a></td>
        <td> {{item.name}}</td>
        <td> {{item.second_name}}</td>
        <td> {{item.position}}</td>
        <td> {{item.subdivision}}</td>
        <td> {{item.oficial_telephone}}</td>
        <td> {{item.landline_telephone}}</td>
        <td> {{item.service_fax}}</td>
        <td> {{item.mobile_telephone}}</td>
        <td> {{item.division}}</td>
        <td> {{item.military_unit}}</td>
    </tr>
{% endfor %}
    </table>

</div>
{% endblock %}