<!doctype html>
<!--считываем статические данные из папки static-->
{% load static %}
<!--html с автоматической загрузкой элементов bootstrap-->

<!--указываем язык страницы-->
<html lang="ru-RU">
<head>
    <!-- Обязательные метатеги -->
    <!--    указываем кодировку-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{title}}</title>
</head>
<body>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Навигация по справочнику</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Информация</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Дополнительно
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Выбор</a></li>
                        <li><a class="dropdown-item" href="#">Что то</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Еще</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Не активно</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!--контейнер с нашими данными-->
<div class="container">
<!--указываем тип таблицы   -->
    <table class="table table-striped">
        <!--задаем цикл-->
        {% for item in phonebook %}
            <!--открываем строку-->
            <tr>
                <!--в каждом столбце прописываем значения-->
                <td> {{item.title}} </td>
                <td> {{item.subdivision}} </td>
                <td>  {{item.position}} </td>
                <td>  {{item.surname}}</td>
                <td>  {{item.name}} </td>
                <td>  {{item.second_name}}</td>
                <td> {{item.oficial_telephone}}</td>
                <td> {{item.landline_telephone}}</td>
                <td> {{item.service_fax}}</td>
                <td> {{item.mobile_telephone}}</td>
                <td> {{item.photo}}</td>

                </tr>
        {% endfor %}
    </table>
</div>
<!-- Option 2: Separate Popper and Bootstrap JS -->

</body>
</html>


