<!--страница отображения данных о одной записи-->
{% extends 'base.html' %}

<!--считываем статические данные из папки static для загрузки фото по умолчанию-->
{% load static %}


{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

<!--левый боковой навбар-->
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}


{# Данные записи #}
<div id="dp-tab-18" class=" tab-pane active">
    <div class="card mb-3">
    <div class="card-header">
        Подразделение: <a href="{{ phone_item.division.get_absolute_url }}">{{ phone_item.division }}</a>
    </div>
    <div class="card-body">
        {# Фото записи #}
        {# Если фото записи есть то отобразить его #}
        {% if phone_item.photo %}
        <img src="{{ phone_item.photo.url }}" alt="" width="150" class="float-left mr-3">
        {% else %}
        {# Если фото записи нет, то отобразить фото по умолчанию из статики#}
<!--        <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="float-left mr-3">-->
<!--        <img src="{% static 'test_list/polotsk.png' %}">-->
        <img src="{% static 'test_list/noimage.png' %} ">
        {% endif %}

        <h6 class="card-title">Войсковая часть {{ phone_item.military_unit }} ({{ phone_item.military_unit.name_unity }})</h6>
        <h6 class="card-title">Подразделение: {{ phone_item.division }},  {{phone_item.subdivision}}</h6>
        <h6 class="card-title">Должность: {{ phone_item.position }} </h6>
        <h6 class="card-title">Ф.И.О.: {{ phone_item.surname }} {{ phone_item.name }} {{ phone_item.second_name }}</h6>
        <h6 class="card-title">Служебный внутренний телефон: {{ phone_item.oficial_telephone }}</h6>
        <h6 class="card-title">Служебный городской телефон: {{ phone_item.landline_telephone }}</h6>
        <h6 class="card-title">Служебный факс: {{ phone_item.service_fax }}</h6>
        <h6 class="card-title">Личный мобильный телефон: {{ phone_item.mobile_telephone }}</h6>
        <p class="card-text"></p>
    </div>
    <div class="card-footer text-muted">
        Запись создана: {{ phone_item.create_at|date:"Y-m-d H:i:s" }}
        Последнее обновление: {{ phone_item.update_at|date:"Y-m-d H:i:s" }}
    </div>
</div>


</div>
{% endblock %}









