<!--блок верхняя навигационная панель темный стиль (навбар)-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--container-fluid создания контейнера полной ширины, занимающий 100% зоны просмотра-->
        <div class="container-fluid">
            <!--Первая ссылка навбара - главная страница-->
            <a class="navbar-brand" href="/">Телефонная книга</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--активная ссылка-->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Главная</a>
                    </li>
                    <!--ссылка-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Тестовая страница</a>
                    </li>

                    <!--выпадающее меню-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Воинская часть
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">2034</a></li>
                            <li><a class="dropdown-item" href="#">2044</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">прочие организации</a></li>
                        </ul>
                    </li>

<!--                    &lt;!&ndash;не активная ссылка&ndash;&gt;-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Не активно</a>-->
<!--                    </li>-->
                </ul>


                <!--поисковая форма-->
                <form class="d-flex">
                    <!--окно ввода-->
                    <input class="form-control me-2"  type="search" placeholder="примеры: Иван Волков, начальник отдела, 2039" aria-label="Search" style="width: 520px; background-color: rgba(255,255,255, 1)">
                    <!--кнопка поиска-->
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                    <!--кнопка сброса-->
                    <button class="btn btn-outline-success" type="reset">Сброс</button>
                </form>
            </div>
        </div>
    </nav>